<h3 class="title">Hot courses</h3>
<div class="content">
    <div class="mt-4">
        <div class="row">
            {{#each hotCourses}}
                <div class="col-4">
                    <div class="card mb-3">
                        <a href="/courses/{{ this.slug }}" title="{{ this.name }}">
                            <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">
                                <a class="text-dark" href="/courses/{{ this.slug }}" title="{{ this.name }}">{{ this.name
                                    }}</a>
                            </h6>
                            <p class="card-text">{{ this.description }}</p>
                            <a href="/courses/{{ this.slug }}" class="btn btn-primary" title="View more">View more</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>